@keyframes fadeIn
    15%
        opacity: 0
    100%
        opacity: 1

@keyframes slideIn
    0%
        transform: translateX(-50px)
        opacity: 0

    100%
        transform: translateX(0)
        opacity: 1

.main
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-content: center

.div
    font-size: 4rem
    font-weight: bolder
    text-align: center
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    padding: 1.2rem
    animation: fadeIn 800ms ease 0s 1 normal forwards
    opacity: 0

.btn
    background-color: black
    padding: 15px
    font-size: 1.4rem
    border-radius: 6px
    color: white
    transition: all 0.2s linear
    opacity: 0
    animation: slideIn 800ms ease 0s 1 normal forwards

@media (hover:hover)
    .btn:hover
        background-color: rgba(0,0,0,0.7)
        cursor: pointer

.link
    text-align: center
