@keyframes fadeIn
    15%
        opacity: 0
    100%
        opacity: 1

main
    display: grid
    grid-template-columns: repeat(auto-fill , 300px)
    gap: 10px
    margin: 10px
    justify-content: center

.item
    padding: 10px
    border-radius: 6px
    display: flex
    flex-direction: column
    align-items: center
    transition: all 0.3s ease-in-out
    gap: 10px
    font-family: Arial, Helvetica, sans-serif
    opacity: 0
    animation: fadeIn 800ms ease 0s 1 normal forwards

.titleWrap
    font-size: 35px
    max-height: 40px
    max-width: 280px

h3
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.descWrap
    text-align: left
    height: 100px

@media (hover: hover)
    .item:hover
        box-shadow: #00000078 0px 1px 2px 0px, #00000059 0px 1px 3px 1px
        cursor: pointer
