@use "variables"
body
    background: variables.$secondary-color
    font-size: 16px

h1
    color: variables.$primary-color
    border: 5px solid variables.$accent
    padding: 0.5rem 1rem
    font-family: variables.$font-stack
